* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  height: 100vh;
  margin: 0;
  background-color: rgb(146, 177, 90);
}

h1 {
  text-align: center;
  margin-top: 100px;
}

h3 {
  text-align: center;
  margin-bottom: 75px;
}

div.modal-content h3 {
  margin: 20px 20px 30px 20px;
}

p {
  text-align: center;
  width: auto;
  height: auto;
}



#gameOver {
  --gutter: 14px;
  --modal-color: #800000;
  --soft-color: #fafafa;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  padding-top: 20%;
  display: none;
}

.modal-content {
  background-color: white;
  width: 50vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 3px rgb(37, 44, 23) solid;
}

button {
  margin: 20px;
}

div.buttons {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.grid {
  box-shadow: 0 0 100px 0 rgb(37, 44, 23);
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  border: 3px rgb(37, 44, 23) solid;
}

.grid div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.snakeOnBoard {
  background-color: rgb(37, 44, 23);
  border-radius: 10px;
}

.foodOnBoard {
  background-image: url('../assets/output-onlinepngtools\ \(3\).png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
